*{
    margin: 0;
    padding:0;
  
}
.nav{
    font-size: 200%;
    background-image: url("https://th.bing.com/th/id/R.2b66293ad150f89103f1e0ec1e0ee977?rik=XBqwG2bcHH1QsQ&pid=ImgRaw&r=0");
  
}
.nav a{
    color: rgb(168, 255, 7);
    font: bold;
    
}
body{
    background-color: rgba(127, 255, 212, 0.516);
}
.container{
    height: 500px;
    width: 50%;
    background-color: rgb(245, 28, 28);
    margin-top: 
    4%;
    border-radius: 2%;
}

button{
    font-size: xx-large;
    margin-top: 1%;
 margin-right: 60%;
 font: italic;
 border-radius: 15%;
 background-image: url("https://th.bing.com/th/id/R.2b66293ad150f89103f1e0ec1e0ee977?rik=XBqwG2bcHH1QsQ&pid=ImgRaw&r=0");
 color: white;
}
.containers{
    background-color: white;
    height: 900px;
    width: 600px;
    margin-top: 10%;
}
